$background-color = #fff;
$text-color = #333;
$text-muted-color = #888;
$border-color = #ccc;

$border = 1px solid $border-color;

$button-color = #6e6e6e;
$button-hover-color = #333;
$button-active-color = #000;

$panel-title-background-color = #fff;

$variable-name-color = #881391;
$variable-number-color = #1c00cf;
$variable-boolean-color = #1c00cf;
$variable-null-color = #808080;
$variable-string-color = #c41a16;

$buffered-color = #b9e0f4;
$played-color = #dcb9f5;
$progress-color = #fdf8df;
$seekable-color = #ccf4b8;
